
Horse2ZebraConverter.ipynb
CatBreedClassifier.ipynb
LossFunction/data/cifar-10-batches-py/batches.meta
LossFunction/data/cifar-10-batches-py/data_batch_1
LossFunction/data/cifar-10-batches-py/data_batch_2
LossFunction/data/cifar-10-batches-py/data_batch_3
LossFunction/data/cifar-10-batches-py/data_batch_4
LossFunction/data/cifar-10-batches-py/data_batch_5
LossFunction/data/cifar-10-batches-py/readme.html
LossFunction/data/cifar-10-batches-py/test_batch
LossFunction/data/cifar-10-python.tar.gz
LossFunction/LossFunction.ipynb

